# Compiled binaries
backend/vulnerability_scanner
*.o
*.exe
*.out

# Database files
backend/vulnerabilities.db
*.db
*.sqlite
*.sqlite3

# Log files
logs/
*.log
# Python
venv/
__pycache__/

# Node.js
frontend/node_modules/


# IDE files
.vscode/
.idea/
*.swp
*.swo
